{{!-- Top navigation bar for all of the files. --}}
<nav id="mainTopNavbar" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark p-2">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a title="View home page" class="navbar-brand px-0 mr-0" href="/">Market Place</a>

    <div class="collapse navbar-collapse" id="mainNavBar">

        <ul class="navbar-nav mr-auto mt-2">

            <li class="nav-item active">
                <a title="View home page" class="nav-link" href="/">Home <span class="d-inline d-md-none d-lg-inline"><i class="fa fa-home"></i></span></a>
            </li>

            {{#if user}}
                <li class="nav-item">
                    <a title="View/edit account" class="nav-link px-0" href="/account">Account <span class="d-inline d-md-none d-lg-inline"><i class="fas fa-user-alt"></i></span></a>
                </li>
            {{/if}}
            {{!-- if statement to not display the category button drop-down if nothing to display --}}
            {{#if category}}
                <li class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" title="View Categories dropdown">Categories</a>
                    <div class="dropdown-menu mb-2">
                        <a class="dropdown-item disabled" href="#">Select A Category</a>
                        {{#each category}}
                            <a class="dropdown-item" href="/category/{{dataValues.id}}" title="View {{dataValues.name}} {{dataValues.description}}">{{dataValues.name}}</a>
                        {{/each}}
                    </div>
                </li>
            {{/if}}

        </ul>

        {{!-- Search form that gets hidden in dropdown at MD breakpoint --}}
        <form class="navbar-form m-0 p-0 navbar-right">
            <div class="input-group">
                <div class="input-group-btn">
                    <button id="navbar-search-btn" class="btn btn-primary px-1" title="Search Product Name/Description" type="submit"><i class="fas fa-search"></i></button>
                </div>
                <input id="navbar-search-input" class="form-control"  title="Search Product Name/Description" type="text" placeholder="Search">
            </div>
        </form>

    </div>

    <div class="my-0 px-0 btn-group mx-0" role="group"> 
        {{#if user}}
            {{!-- IF user is logged in display CART/LOGOUT  --}}
                <button id="navbar-view-cart" class="btn btn-primary my-2 px-0 pr-1" type="button" title="View your cart">
                    <a href="/cart" class="text-white text-decoration-none">
                    <span id="navbar-cart-amount" class="badge badge-light"></span>
                    <i class="fas fa-shopping-cart">Cart</i>
                    </a>
                </button>
                <button type="button" class="btn btn-primary my-2 px-0" data-toggle="modal" data-target="#logout-modal" title="Log Out"><i class="fas fa-sign-out-alt"> Log-Out</i></button>
            {{else}}
            {{!-- ELSE user is not logged in , display login and sign up button --}}
                <a title="Log-in" class="btn btn-primary my-2" href="/login"><i class="fas fa-sign-in-alt"> Log-In</i></a>
                <a title="Create an account" class="btn btn-primary my-2" href="/register"><i class="fas fa-user-plus"> Sign Up</i></a>
        {{/if}}
    </div>
    
</nav>