<div class="row d-flex justify-content-center">
  <div class="col-12 col-lg-11 shadow-lg p-1 p-sm-3 p-lg-5 my-5 bg-dark rounded">
    <h4 class="text-white text-center">Order History<br> Click order to view order details</h4>
    <table class="table table-sm table-hover table-striped table-dark text-center m-auto">
      {{#if orderHistory}}
      <caption><span class="badge badge-info">{{orderHistory.length}}</span> Total Past Orders.</caption>
      {{/if}}
      <thead class="thead-dark">
        <tr>
          <th class="order-id-row" scope="col"><span class="d-none d-lg-inline">Order-</span>ID</th>
          <th class="total-cost-row" scope="col"><i class="fas fa-dollar-sign"> Total <span
                class="d-none d-lg-inline">Cost</span></i></th>
          <th class="date-row" scope="col">Order Date</th>
        </tr>
      </thead>
      <tbody>
        {{#if orderHistory}}
        {{#each orderHistory}}
        <tr title="Click the order ID to view order details">
          <td class="order-id-row" scope="row"><a class="badge badge-info py-2"
              href="/account/orders/{{dataValues.id}}"><span class="d-none d-md-inline">View order </span>ID:
              {{dataValues.id}}</a></td>
          <td class="total-cost-row" scope="row"><i class="fas fa-dollar-sign d-none d-sm-inline"></i>
            {{dataValues.order_total}}</td>
          <th class="date-row" scope="row"><small>{{dataValues.createdAt}}</small></th>
        </tr>
        {{/each}}
        {{else}}
        <tr>
          <th scope="row" colspan="3" class="text-danger text-dark bg-warning py-3">No past orders to display. <i
              class="fas fa-cart-plus"></i></th>
        </tr>
        {{/if}}
      </tbody>
    </table>
    {{#if orderHistory}}
      <caption class=""><i class="fas fa-receipt text-light"> Order History </i> <i class="fas fa-arrow-circle-up text-light"></i></caption>
    {{else}}
      <caption><i class="fas fa-receipt">No previously placed orders, Once you place an order they will show up
        here.</i><i class="fas fa-arrow-circle-up"></i></caption>
    {{/if}}
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="btn btn-primary" href="/account" title="Update your account"><i class="fas fa-receipt">
            Account</i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" href="/cart" title="View your cart"><i class="fas fa-shopping-cart"> View
            Cart</i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" href="/" title="Browse categories and continue shopping"><i class="fas fa-store-alt">
            Shop</i></a>
      </li>
    </ul>
  </div>
  <div>